$submit-btn-padding: 1rem;
@use '../../base/colors' as c;
@use '../../base/variables' as v;

button-action
{
  .theme__btn{
    width: fit-content;
    background-color: whitesmoke;
    color: c.$primary;
    padding: $submit-btn-padding;
    font-size: 1.5rem;
    cursor: pointer;
    border-radius: 9px;
    border: none;
    @include respond-to('large') {
      padding: .6rem 1rem;
    }
    span
    {
      color: c.$white;
    }
    &--primary {
      background-color: c.$primary;
      span{
        color: c.$white!important;
      }
      i{
        color: c.$white!important;
      }
    }
    &--secondary {
      background-color: c.$secondary;
      span{
        color: c.$white!important;
      }
      i{
        color: c.$white!important;
      }
    }
    &--danger {
      background-color: c.$danger;
      span{
        color: c.$white!important;
      }
      i{
        color: c.$white!important;
      }
    }
    &--caution {
      background-color: c.$white;
      border: thin solid c.$primary;
      span{
        color: c.$primary!important;
      }
      i{
        color: c.$primary!important;
      }
    }
    &--small {
      padding: 0.5rem!important;
      border-radius: v.$border-radius-small;
      font-size: 1.1rem;
    }
    &--medium {
      padding: 0.5rem 2rem!important;
      border-radius: v.$border-radius-small;
      font-size: 1.2rem;
    }
  
  
    &.secondaryBtn {
      background-color: c.$black;
    }
  
    &.mediumBtn {
      padding: $submit-btn-padding !important;
    }
  
    &.smallBtn {
      padding: 0.4rem 0.8rem !important;
    }
  
    &.largeBtn {
      padding: 1rem 2.5rem !important;
    }
  }
}
@keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(359deg);}
}
#spinner
{
  width: 21px;
  font-size: 0;
  animation: spin 1.2s linear infinite;
}
.disabled__button{
  background-color: $disabled!important;
  color: $white!important;
}



.gray__btn, .red__btn {
  width: fit-content;
  height: fit-content;
  border-radius: 1.5rem;
  background-color: #555;
  color: lightgray;
  padding: 12px 25px; 
  font-size: 16px;
  cursor: pointer;
}

.red__btn {
  background-color: #602323;
}
// **********************
.copyBtn {
  width: fit-content;
  height: fit-content;
  background-color: whitesmoke;
  padding: .5rem;
  border: none;
  border-radius: 4px;
  opacity: 0;
  cursor: pointer;
  color: rgb(45, 45, 45);
  font-size: 1.1rem;
}

.delIcon {
  width: 40px;
  margin-left: 50px;
  cursor: pointer;
}