@keyframes slideDown {
    from {
      top: -100px;
      opacity: 0;
    }
    to {
      top: 50px;
      opacity: 1;
    }
  }

.toast {
    position: fixed;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
    padding: 10px 20px;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    max-width: 700px;
    min-width: 700px;
    text-align: center;
    animation: slideDown 0.5s ease-out;

    &.success {
      background-color: $success;
    }
  
    &.error {
      background-color: $danger;
    }
  }
  